{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('easyadmin//multiselect/css/multi-select.css') }}"/>
{% endblock %}

{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <div>

    </div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12  form-cont">
                    <h3>Agregar Usuario</h3>
                    <form style="margin-top: 20px; border-bottom: 1px solid #393939; padding-bottom: 15px">
                        <fieldset style="margin: 5px; padding-bottom: 3px; border-bottom: 1px solid #cecece">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label " for="username">Usuario:</label>
                                        <div>
                                            <input placeholder="Teclee el usuario" type="text" class="form-control input-sm" id="username" name="username">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label " for="nombre">Nombre:</label>
                                        <div>
                                            <input placeholder="Teclee el nombre" type="text" class="form-control input-sm" id="nombre" name="nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label " for="primerApellido">Primer Apellido:</label>
                                        <div>
                                            <input placeholder="Teclee el primer apellido" type="text" class="form-control input-sm" id="primerApellido" name="primerApellido">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label " for="segundoApellido">Segundo Apellido:</label>
                                        <div>
                                            <input placeholder="Teclee el segundo apellido" type="text" class="form-control input-sm" id="segundoApellido" name="segundoApellido">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% if app.user.getNivelAcceso().nivel == 'municipal' %}
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="nivelAcceso">Nivel de Acceso:</label>
                                        <div class="form-group">
                                            <div>
                                                <strong class="form-control">{{ app.user.getNivelAcceso().nivel }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-3" style="border-top: none">
                                        <label class="control-label " for="nivelAcceso">Nivel de Acceso:</label>
                                        <div class="form-group">
                                            <select class="form-control input-sm" id="nivelAcceso" name="nivelAcceso">
                                                <option value="0">Seleccione un nivel de acceso</option>
                                                {% for nivelAcceso in  nivelesAcceso %}
                                                    <option value="{{ nivelAcceso.id }}">{{ nivelAcceso.nivel }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if(app.user.getNivelAcceso().nivel == 'nacional') %}
                                    <div class="col-md-3">
                                        <label  for="provincia">Provincia</label>
                                        <div class="form-group">
                                            <select class="f1-last-name form-control" id="provincia" name="provincia">
                                                <option value="0">Seleccione la provincia...</option>
                                                {% for provincia in  provincias %}
                                                    <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label  for="municipio">Municipio </label>
                                        <div class="form-group">
                                            <select disabled class="f1-last-name form-control" id="municipio" name="municipio">
                                                <option id="inicio2" value="0">Seleccione el municipio...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label  for="unidad">Unidad</label>
                                        <div class="form-group">
                                            <select disabled class="f1-last-name form-control" id="unidad" name="unidad">
                                                <option id="inicio3" value="0">Seleccione la unidad...</option>
                                            </select>
                                        </div>
                                    </div>
                                {% elseif(app.user.getNivelAcceso().nivel == 'provincial') %}
                                    <div class="col-md-3">
                                        <label  for="provincia">Provincia de Residencia</label>
                                        <div class="form-group">
                                            <div>
                                                <strong class="form-control">{{ app.user.getUnidad().getMunicipio().getProvincia().nombre }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label  for="municipio">Municipio</label>
                                        <div class="form-group">
                                            <select  class="f1-last-name form-control" id="municipio" name="municipio">
                                                <option  value="0">Seleccione el municipio...</option>
                                                {% for municipio in  municipios %}
                                                    {% if municipio.getProvincia().codigo == app.user.getUnidad().getMunicipio().getProvincia().codigo %}
                                                        <option value="{{ municipio.id }}">{{ municipio.nombre }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label  for="unidad">Unidad</label>
                                        <div class="form-group">
                                            <select disabled class="f1-last-name form-control" id="unidad" name="unidad">
                                                <option id="inicio3" value="">Seleccione la unidad...</option>
                                            </select>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-3">
                                        <label  for="provincia">Provincia</label>
                                        <div class="form-group">
                                            <div>
                                                <strong class="form-control">{{ app.user.getUnidad().getMunicipio().getProvincia().nombre }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label  for="municipio">Municipio</label>
                                        <div class="form-group">
                                            <div>
                                                <strong class="form-control">{{ app.user.getUnidad().getMunicipio().nombre }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label  for="unidad">Unidad</label>
                                        <div class="form-group">
                                            <select  class="f1-last-name form-control" id="unidad" name="unidad">
                                                <option id="inicio3" value="0">Seleccione la unidad...</option>
                                                {% for unidad in  unidades %}
                                                    {% if unidad.getMunicipio().codigo == app.user.getUnidad().getMunicipio().codigo %}
                                                        <option value="{{ unidad.id }}">{{ unidad.nombre }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-3" style="border-top: none">
                                    <div class="form-group">
                                        <label class="control-label " for="multi-roles">Seleccione Roles:</label>
                                        <select multiple="multiple" id="multi-roles" name="multi-roles[]" class="form-control">

                                            {% for role in roles %}

                                                {% if not (role.nombre == 'ROLE_SUPERUSUARIO')  %}

                                                    <option  value={{ role.id }}>{{ role.nombre }}</option>

                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <p class="text-center" style="margin-top: 20px">
                        <button id="btnGuardar" type="button" class="btn btn-primario">Guardar</button>
                        <button id="btnSalir" type="button" class="btn btn-primario"> Salir </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('easyadmin/multiselect/js/jquery.multi-select.js') }}"></script>
    <script>
        $(document).ready(function()
        {
            function verificarusuario(){
                {% if not (is_granted("ROLE_ADMINISTRADOR") or is_granted("ROLE_SUPERUSUARIO")) %}
                    window.location.href = "{{ path('login') }}";
                {% endif %}
            }
            verificarusuario();

            $('#multi-roles').multiSelect();

            //--------- abandonar el formulario -----------------
            $('#btnSalir').on('click', function ()
            {
                window.location.href = "{{ path('gestionarUsuarios') }}";

            });
            $('#provincia').on('change', function () {
                var html = '';
                var provincia = $('#provincia').val();
                if (provincia == '0') {
                    $("#municipio").prop('disabled' , true);
                    $("#unidad").prop('disabled' , true);
                    $("option").remove('.cambioMunicipio');
                }else {
                    $("option").remove('.cambioMunicipio');
                    $("#inicio2").after('<option class="cambioMunicipio"></option>');

                    {% for municipio in  municipios %}
                        var idProvincia = '{{ municipio.getProvincia().id }}';

                        if (idProvincia == provincia) {
                            var id = {{ municipio.id }};
                            var name = '{{ municipio.nombre }}';
                            html += '<option class="cambioMunicipio" value="' + id + '">' + name + '</option>';

                        }
                    {% endfor %}
                    $(".cambioMunicipio").replaceWith(html);
                    $("#municipio").prop('disabled' , false);
                    $("#unidad").prop('disabled' , true);
                }
            });

            $('#municipio').on('change', function () {
                var html = '';
                var municipio = $('#municipio').val();
                if (municipio == '0') {
                    $("#unidad").prop('disabled' , true);
                    $("option").remove('.cambioUnidad');
                }else {
                    $("option").remove('.cambioUnidad');
                    $("#inicio3").after('<option class="cambioUnidad"></option>');

                    {% for unidad in  unidades %}
                        var idMunicipio = '{{ unidad.getMunicipio().id }}';

                        if (idMunicipio == municipio) {
                            var id = {{ unidad.id }};
                            var name = '{{ unidad.nombre }}';
                            html += '<option class="cambioUnidad" value="' + id + '">' + name + '</option>';

                        }
                    {% endfor %}
                    $(".cambioUnidad").replaceWith(html);
                    $("#unidad").prop('disabled' , false);
                }
            });
           //--------- enviar el formulario -----------------
            $('#btnGuardar').click(function ()
            {
                if($("#username").val().trim() == ''){
                    alertify.alert('<strong>El campo usuario es obligatorio , no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if($("#nombre").val().trim() == ''){
                    alertify.alert('<strong>El campo nombre es obligatorio , no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if($("#primerApellido").val().trim() == ''){
                    alertify.alert('<strong>El campo primer apellido es obligatorio , no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if($("#segundoApellido").val().trim() == ''){
                    alertify.alert('<strong>El campo segundo apellido es obligatorio , no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                var nivel = '{{ app.user.getNivelAcceso().id }}';
                {% if not (app.user.getNivelAcceso().nivel == 'unidad') %}
                    if($("#nivelAcceso").val() == '0'){
                        alertify.alert('<strong>Debe seleccionar el nivel de acceso que va a tener el usuario.</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar');
                        return false;
                    }
                    nivel = $("#nivelAcceso").val();

                {% endif %}
                if($("#provincia").val() == 0){
                    alertify.alert('<strong>Debe seleccionar la provincia a la que pertenece el usuario.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }

                if($("#municipio").val() == 0){
                    alertify.alert('<strong>Debe seleccionar el municipio al que pertenece el usuario.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }

                if($("#unidad").val() == '0'){
                    alertify.alert('<strong>Debe seleccionar la unidad en la que trabaja el usuario.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }

                if(!($(' li.ms-elem-selectable ').hasClass('ms-selected')))
                {
                    alertify.alert('<strong>Debe  seleccionar al menos un rol para el usuario.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }

                $(".preload").removeClass('hidden');

                var mat_datos = {
                    username: $("#username").val(),
                    nombre: $("#nombre").val(),
                    primerApellido: $("#primerApellido").val(),
                    segundoApellido: $("#segundoApellido").val(),
                    nivelAcceso: nivel,
                    roles: $("#multi-roles").val(),
                    unidad: $("#unidad").val(),
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("insertUsuario") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if(data == 'ok'){
                        $('input').each(function(){
                            $(this).val('');
                        });
                        $('select').val(0);
                        $('.ms-list .ms-elem-selectable').each(function(){
                            $(this).css('display', 'list-item').removeClass('ms-selected');
                        });

                        $('.ms-list .ms-elem-selection').each(function(){
                            $(this).css('display', 'none').addClass('ms-hover').removeClass('ms-selected');
                        });
                        alertify.alert('<strong>El usuario ha sido insertado correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmacion</h4>')
                            .set('label','Aceptar')
                    }else{
                        alertify.alert('<strong>'+ data +'</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar')
                    }
                });
            });
        });
    </script>
{% endblock %}
