/* Declaraciones */

$("#editModalPrimeraDosis , #editModalSegundaDosis , #editModalTerceraDosis , #editModalReactivacion").datepicker({
    firstDay: 1,
    dateFormat: 'dd-mm-yy',
    changeMonth: true,
    changeYear: true
});

/*  Validaciones  */


    $('#editInmunoglobulina').on("click", function () {

        if ($('#editInmunoglobulina').prop('checked')) {
            $('#editFechaInmunoglobulina').prop('disabled', false);
        } else {
            $('#editFechaInmunoglobulina').val('').prop('disabled', true);
        }
    });


//relacionar selects
    $('#editPrueba').on('change', function () {
        var html = '';
        var prueba = $('#editPrueba').val();
        if (prueba == '') {
            $("#editResultado").prop('disabled', true);
            $("option").remove('.cambioResultado');
        } else {
            $("option").remove('.cambioResultado');
            $("#inicio").after('<option class="cambioResultado"></option>');

            {% for resultadoPrueba in  resultadosPruebas %}
                var idPrueba = '{{ resultadoPrueba.getPrueba().id }}';

                if (idPrueba == prueba) {
                var id = {{ resultadoPrueba.id }};
                var name = '{{ resultadoPrueba.resultadoPrueba }}';
                html += '<option class="cambioResultado" value="' + id + '">' + name + '</option>';

                }
            {% endfor %}
            $(".cambioResultado").replaceWith(html);
            $("#editResultado").prop('disabled', false);
        }
        var id = '';
        var valor = 0;
        {% for prueba in pruebas %}
            id = '{{ prueba.id }}';
            if (id == prueba) {
            {% if prueba.valor == 1 %}
                valor = 1;
            {% endif %}
            }
        {% endfor %}
        if (valor == 1) {
            $('#mostrarEditValor').css("display", "block");
        } else {
            $('#mostrarEditValor').css("display", "none");
        }
    });


//funcion que agrega las vacunas y las visualiza en la tabla de editar
    var hijosEditVacunas = [];
    var I = 0;
    var hijoEditPruebas = [];
    $('#agregarBtnEditVacunas').on('click', function () {

        var vacunaPrimera = $("#editVacunaUno").val();
        var vacunaSegunda = $("#editVacunaDos").val();
        var vacunaTercera = $("#editVacunaTercera").val();
        var reactivacion = $("#editReactivacion").val();
        var idVacuna = 0;


        if (vacunaPrimera == '' && vacunaSegunda == '' && vacunaTercera == '' && reactivacion == '') {
            alertify.alert('<strong>Error: debe seleccionar al menos una vacuna para agregar un esquema de vacunaci칩n.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
            return false;
        }
        if (vacunaSegunda != '') {
        if (!($("#editVacunaDos").val() > $("#editVacunaUno").val())) {
            alertify.alert('<strong>Error: la fecha de las 2da Dosis no puede ser menor o igual que la fecha de la 1ra Dosis.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
            return false;
            }
        }

        if (vacunaTercera != '') {
            if (!($("#editVacunaTercera").val() > $("#editVacunaUno").val())) {
            alertify.alert('<strong>Error: la fecha de las 3ra Dosis no puede ser menor o igual que la fecha de la 1ra Dosis.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
            return false;
            }
        }

        if (reactivacion != '') {
            if (!($("#editReactivacion").val() > $("#editVacunaUno").val())) {
            alertify.alert('<strong>Error: la fecha de la reactivaci칩n no puede ser menor o igual que la fecha de la 1ra Dosis.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
            return false;
            }
        }

{#        if (vacunaTercera != '') {#}
{#            if (monthDiff($("#editVacunaTercera").val(), $("#editVacunaUno").val()) < 6) {#}
{#                alertify.alert('<strong>Error: la fecha de las 3ra Dosis no puede ser menor que 6 meses.</strong>')#}
{#                .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +#}
{#                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')#}
{#                .set('label', 'Aceptar');#}
{#                return false;#}
{#            }#}
{#        }#}

{#        if (reactivacion != '') {#}
{#            if (monthDiff($("#editReactivacion").val(), $("#editVacunaUno").val()) < 12) {#}
{#                alertify.alert('<strong>Error: la fecha de la reactivaci칩n no puede ser menor que 1 a침o.</strong>')#}
{#                .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +#}
{#                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')#}
{#                .set('label', 'Aceptar');#}
{#                return false;#}
{#            }#}
{#        }#}

        $('#esquemasEditVacuna tbody').append('<tr data-id="'+I+'"><td id="primera' + I + '">'+ vacunaPrimera +'</td><td id="segunda' + I + '">'+ vacunaSegunda +'</td><td id="tercera' + I + '">'+ vacunaTercera +'</td><td id="reactivacion' + I + '">'+ reactivacion +'</td><td>' +
                '<span class="btn btn-primary btn-xs editar"><i class="fa fa-pencil "></i> Editar</span>      ' +
                '<span class="btn btn-danger btn-xs borrar" ><i class="fa fa-trash-o "></i> Borrar</span>' +
                '</td></tr>');
        hijosEditVacunas.push({
            vacunaPrimera: vacunaPrimera,
            vacunaSegunda: vacunaSegunda,
            vacunaTercera: vacunaTercera,
            reactivacion: reactivacion,
        });
        I++;

        //desactivando el boton de agregar un nuevo esquema  de vacunacion si el ultimo esquema no esta completo
        if(hijosEditVacunas[hijosEditVacunas.length - 1].vacunaPrimera == ''
        || hijosEditVacunas[hijosEditVacunas.length - 1].vacunaSegunda == ''
        || hijosEditVacunas[hijosEditVacunas.length - 1].vacunaTercera == ''
        || hijosEditVacunas[hijosEditVacunas.length - 1].reactivacion == '')
        {
            $('#agregarBtnEditVacunas').prop("disabled", true);
        }

        $("#editVacunaUno").val('');
        $("#editVacunaDos").val('');
        $("#editVacunaTercera").val('');
        $("#editReactivacion").val('');
    });

    //funcion que elimina las vacunas del arreglo y de la tabla de editar
    $('#esquemasEditVacuna tbody').on('click', '.borrar', function () {
        var row = $(this).parents('tr');
        id = row.data('id');
        row.fadeOut();
        {#hijosEditVacunas.splice(id, 1);#}
        delete hijosEditVacunas[id];
        let cant = 0;
        let pos = 0;
        for (x = 0; x < hijosEditVacunas.length; x++) {
            if(hijosEditVacunas[x] != null){ cant++; pos = x; }
        }
        if(cant == 0 || (hijosEditVacunas[pos].vacunaPrimera != '' && hijosEditVacunas[pos].vacunaSegunda  != '' && hijosEditVacunas[pos].vacunaTercera  != '' && hijosEditVacunas[pos].reactivacion != '') )
        { $('#agregarBtnEditVacunas').prop("disabled", false); }
    });

//funciones para editar un esquema de vacunacion
    //funcion que carga los datos del esquema en la modal
    var idFila = '';
    $('#esquemasEditVacuna tbody').on('click', '.editar', function () {
{#       alert('editCargar');#}
        var row = $(this).parents('tr');
        id = row.data('id');
        var primera = hijosEditVacunas[id].vacunaPrimera;
        var segunda = hijosEditVacunas[id].vacunaSegunda;
        var tercera = hijosEditVacunas[id].vacunaTercera;
        var reactivacion = hijosEditVacunas[id].reactivacion;
        $('#editModalPrimeraDosis').val(primera);
        $('#editModalSegundaDosis').val(segunda);
        $('#editModalTerceraDosis').val(tercera);
        $('#editModalReactivacion').val(reactivacion);
        idFila = id;
        $('#editEsquemaVacunas').modal('show');
    });

    //funcion que modifica el esquema en el arreglo y en la tabla
    $('#maceptarEditEsquemaVacunas').on('click',function () {
{#        alert('editar');#}
        hijosEditVacunas[id].vacunaPrimera = $('#editModalPrimeraDosis').val();
        hijosEditVacunas[id].vacunaSegunda = $('#editModalSegundaDosis').val();
        hijosEditVacunas[id].vacunaTercera = $('#editModalTerceraDosis').val();
        hijosEditVacunas[id].reactivacion = $('#editModalReactivacion').val();

        $("#primera"+idFila).html($('#editModalPrimeraDosis').val());
        $("#segunda"+idFila).html($('#editModalSegundaDosis').val());
        $("#tercera"+idFila).html($('#editModalTerceraDosis').val());
        $("#reactivacion"+idFila).html($('#editModalReactivacion').val());
        if(hijosEditVacunas[id].vacunaPrimera != '' && hijosEditVacunas[id].vacunaSegunda  != '' && hijosEditVacunas[id].vacunaTercera  != '' && hijosEditVacunas[id].reactivacion != '')
        {
            $('#agregarBtnEditVacunas').prop("disabled", false);
        }

        $('#editEsquemaVacunas').modal('hide');
    });



//funcion que agrega la prueba y la visualiza en la tabla de editar
    var hijoPruebas = [];
    J = 0;
    $('#agregarBtnEditPruebas').on('click', function () {

        var prueba = $("#editPrueba").val();
        var resultado = $("#editResultado").val();
        var valor = $("#editValor").val();
        var fechaPrueba = $("#editFechaPrueba").val();

        var mostrarValor = 0;
        {% for prueba in pruebas %}
            id = '{{ prueba.id }}';
            if (id == prueba) {
            {% if prueba.valor == 1 %}
                mostrarValor = 1;
            {% endif %}
            }
        {% endfor %}

        if ($('#editPrueba').val() == '0') {
            alertify.alert('<strong>Debe seleccionar la prueba realizada.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
        } else if ($('#editResultado').val() == '0') {
            alertify.alert('<strong>Debe seleccionar el resultado de la prueba.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
        } else if (mostrarValor == 1 && $('#editValor').val() == '') {
            alertify.alert('<strong>Debe introducir un valor para esta prueba.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
            return false;
        } else if ($("#editFechaPrueba").val() == '') {
            alertify.alert('<strong>Debe seleccionar la fecha de que se realiza la prueba.</strong>')
            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
            .set('label', 'Aceptar');
            return false;
        } else {
            {% for prueba in  pruebas %}
                var idPrueba = '{{ prueba.id }}';

                if (idPrueba == prueba) {
                var nombrePrueba = '{{ prueba.nombre }}';
                }
            {% endfor %}

                    {% for resultadoPrueba in  resultadosPruebas %}
                        var idResultadoPrueba = '{{ resultadoPrueba.id }}';

                        if (idResultadoPrueba == resultado) {
                        var nombreResultadoPrueba = '{{ resultadoPrueba.resultadoPrueba }}';
                        }
                    {% endfor %}

            var proteccion = '';
            if (valor > 10) {
                proteccion = ' protegido';
            } else {
                proteccion = ' no protegido';
            }

            $('#esquemasEditPrueba tbody').append('<tr data-id="' + J + '"><td>' + nombrePrueba + '</td><td>' + valor + '</td><td>' + nombreResultadoPrueba + proteccion + '</td><td>' + fechaPrueba + '</td><td>' +
                    '<span class="glyphicon glyphicon-minus-sign borrar" style="font-size: 25px"  data-toggle="tooltip" data-placement="bottom"  title="Eliminar"></span>' +
                    '</td></tr>');
            hijoEditPruebas.push({
                prueba: prueba,
                resultado: resultado,
                valor: valor,
                fechaPrueba: fechaPrueba,
            });

            if (valor > 10) {
                $('#editFechaAlta').prop("disabled", false);
            }

            $("#editPrueba").val('');
            $("#editResultado").val('');
            $('#mostrarEditValor').css("display", "none");
            $("#editValor").val('');
            $("#editFechaPrueba").val('');

        }
    });

//funcion que elimina la prueba del arreglo y de  la tabla editar
    $('#esquemasEditPrueba tbody').on('click', '.borrar', function () {
        var row = $(this).parents('tr');
        id = row.data('id');
        row.fadeOut();
        hijoEditPruebas.splice(id, 1);
        delete hijoEditPruebas[id];
    });

    var idHijoEdit = '';
    var editNombre = '';
    var editPrimerApellido = '';
    var editSegundoApellido = '';

//cargar datos en el formulario de editar
    $('#dataHijo tbody').on('click', '.edit', function () {

        var row = $(this).parents('tr');
        var idHijo = row.data('id');
        var id = '';
        var vacunasLimpiar = [];
        var pruebasLimpiar = [];

        {% for hijo in hijos %}
            id = '{{ hijo.id }}';
            if (id == idHijo) {
                $('#editNombreHijo').val('{{ hijo.nombre }}');
                $('#editPrimerApellidoHijo').val('{{ hijo.primerApellido }}');
                $('#editSegundoApellidoHijo').val('{{ hijo.segundoApellido }}');
                $('#editSexo').val('{{ hijo.sexo }}');
                {% if hijo.inmunoglobulina == 1 %}
                    $('#editInmunoglobulina').prop('checked', true);
                    $('#editInmunoglobulina').button('refresh');
                {% else %}
                    $('#editInmunoglobulina').prop('checked', false);
                    $('#editInmunoglobulina').button('refresh');
                {% endif %}
                $('#editFechaNacimiento').val('{{ hijo.fechaNacimiento|date('d-m-Y') == '01-01-0001' ? '' :hijo.fechaNacimiento|date('d-m-Y') }}');
                $('#editFechaInmunoglobulina').val('{{ hijo.fechainmunoglobulina|date('d-m-Y') == '01-01-0001' ? '' :hijo.fechainmunoglobulina|date('d-m-Y') }}');
                idHijoEdit = idHijo;
                editNombre = '{{ hijo.nombre }}';
                editPrimerApellido = '{{ hijo.primerApellido }}';
                editSegundoApellido = '{{ hijo.segundoApellido }}';

                $('#esquemasEditVacuna tbody').empty();

                //Cargar las vacunas
                {% if hijo.cantidadDosis != 0 %}
                    {% for vacuna in hijo.hijoVacunas() %}
                        var vacunaPrimera = '{{ vacuna.fechaVacunaPrimera()|date('d-m-Y') }}';
                        var vacunaSegunda = '{{ vacuna.fechaVacunaSegunda == null ? '' :vacuna.fechaVacunaSegunda()|date('d-m-Y') }}';
                        var vacunaTercera = '{{ vacuna.FechaVacunaTercera == null ? '' :vacuna.FechaVacunaTercera()|date('d-m-Y') }}';
                        var reactivacion = '{{ vacuna.FechaReactivacion == null ? '' :vacuna.FechaReactivacion()|date('d-m-Y') }}';

                        $('#esquemasEditVacuna tbody').append('<tr data-id="'+I+'"><td id="primera' + I + '">'+ vacunaPrimera +'</td><td id="segunda' + I + '">'+ vacunaSegunda +'</td><td id="tercera' + I + '">'+ vacunaTercera +'</td><td id="reactivacion' + I + '">'+ reactivacion +'</td><td>' +
                            '<span class="btn btn-primary btn-xs editar"><i class="fa fa-pencil "></i> Editar</span>      ' +
                            '<span class="btn btn-danger btn-xs borrar" ><i class="fa fa-trash-o "></i> Borrar</span>' +
                            '</td></tr>');

                        vacunasLimpiar.push({
                            vacunaPrimera: vacunaPrimera,
                            vacunaSegunda: vacunaSegunda,
                            vacunaTercera: vacunaTercera,
                            reactivacion: reactivacion,
                        });
                        I++;
                    {% endfor %}
                {% endif %}

                //desactivando el boton de agregar un nuevo esquema  de vacunacion si el ultimo esquema no esta completo
                if(vacunasLimpiar.length > 0 && (vacunasLimpiar[vacunasLimpiar.length - 1].vacunaPrimera == ''
                    || vacunasLimpiar[vacunasLimpiar.length - 1].vacunaSegunda == ''
                    || vacunasLimpiar[vacunasLimpiar.length - 1].vacunaTercera == ''
                    || vacunasLimpiar[vacunasLimpiar.length - 1].reactivacion == ''))
                {
                    $('#agregarBtnEditVacunas').prop("disabled", true);
                }

                $('#esquemasEditPrueba tbody').empty();

                //Cargar las pruebas
                {% if hijo.cantidadPruebas != 0 %}
                    {% for pruebaHijo in hijo.hijoPruebas() %}
                        var idPrueba =  '{{ pruebaHijo.getprueba().id }}';
                        var prueba =  '{{ pruebaHijo.getprueba().nombre }}';
                        var idResultado = '{{ pruebaHijo.getresultadoPrueba().id }}';
                        var resultado = '{{ pruebaHijo.getresultadoPrueba().resultadoPrueba }}';
                        var valor = '{{ pruebaHijo.valor == null ? '' :pruebaHijo.valor }}';
                        var fechaPrueba = '{{ pruebaHijo.fecha()|date('d-m-Y') }}';

                        $('#esquemasEditPrueba tbody').append('<tr data-id="'+J+'"><td>'+ prueba +'</td><td>'+ resultado +'</td><td>'+ valor +'</td><td>'+ fechaPrueba +'</td><td>' +
                            '<span class="glyphicon glyphicon-minus-sign borrar" style="font-size: 25px"  data-toggle="tooltip" data-placement="bottom"  title="Eliminar"></span>' +
                            '</td></tr>');

                        pruebasLimpiar.push({
                            prueba: idPrueba,
                            resultado: idResultado,
                            valor: valor,
                            fechaPrueba: fechaPrueba,
                        });
                        J++;
                    {% endfor %}
                {% endif %}
            }
        {% endfor %}
        hijosEditVacunas = vacunasLimpiar;
        hijoEditPruebas = pruebasLimpiar;
        $('#containerFormHijo').css("display", "none");
        $('#containerModificarHijo').css("display", "block");
    });



