{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('easyadmin/DataTables-1.10.10/media/css/jquery.dataTables.css') }}"/>
    <link rel="stylesheet" href="{{ asset('easyadmin/stylesheet/select2-bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('easyadmin/jquery-ui-1.12.1/jquery-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('easyadmin//multiselect/css/multi-select.css') }}"/>
    <!-- css asistente-->
    <link rel="stylesheet" href="{{ asset('easyadmin/Asistente/assets/css/style.css') }}"/>
{% endblock %}

{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    {# Contiene el formulario de buscar y adicionar un paciente #}
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-4 offset-lg-4"></div>
            <div class="col-lg-3 form-cont" >
                <h3>Pacientes</h3>
                <form style="margin-top: 20px; border-bottom: 1px solid #393939; padding-bottom: 15px">
                    <fieldset style="margin: 5px; padding-bottom: 3px; border-bottom: 1px solid #cecece">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label " for="carnetIdentidad">Carnet de Identidad:</label>
                                    <div>
                                        <input placeholder="Teclee el no. de carnet" type="text" class="form-control input-sm input-number" id="carnetIdentidad" name="carnetIdentidad">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label " for="nombre">Nombre:</label>
                                    <div>
                                        <input  placeholder="Teclee el nombre" type="text" class="form-control input-sm nombres" id="nombre" name="nombre">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="primerApellido">Primer Apellido:</label>
                                    <div>
                                        <input placeholder="Teclee el primer apellido" type="text" class="form-control input-sm nombres" id="primerApellido" name="primerApellido">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="segundoApellido">Segundo Apellido:</label>
                                    <div>
                                        <input placeholder="Teclee el segundo apellido" type="text" class="form-control input-sm nombres" id="segundoApellido" name="segundoApellido">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
                <p class="text-center" style="margin-top: 20px">
                    <button id="btnLocalizar" type="button" disabled="true" class="btn btn-primario">Localizar</button>
                    <button id="btnAdicionar"  type="button"  disabled="true"   class="btn btn-primario">Adicionar </button>
                    <button id="btnLimpiar" type="button"  class="btn btn-primario">Limpiar </button>
                </p>
            </div>
        </div>
    </div>
    {# Contiene el datatable del resultado de la busqueda #}
    <div id="containerResultado"></div>
{% endblock %}

{% block javascripts %}
    {{ include('Pacientes/GestionPaciente/modalAddPaciente.html.twig') }}
    {{ parent() }}
    <script src="{{ asset('easyadmin/DataTables-1.10.10/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('easyadmin/javascript/select2.full.min.js') }}"></script>
    <script src="{{ asset('easyadmin/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
    <script src="{{ asset('easyadmin/multiselect/js/jquery.multi-select.js') }}"></script>
    <!-- js asistente-->
    <script src="{{ asset('easyadmin/Asistente/assets/js/jquery.backstretch.min.js') }}"></script>
    <script src="{{ asset('easyadmin/Asistente/assets/js/scripts.js') }}"></script>
    <!-- mis js -->
    <script src="{{ asset('easyadmin/javascript/formatoTipos.js') }}"></script>
    <script src="{{ asset('easyadmin/javascript/moment.js') }}"></script>
    <script src="{{ asset('easyadmin/javascript/paciente/gestionPaciente.js') }}"></script>
    <script>
        $(document).ready(function()
        {
            function verificarusuario(){
                {% if not (is_granted("ROLE_EDITOR_ESTADISTICA") or is_granted("ROLE_SUPERUSUARIO")) %}
                    window.location.href = "{{ path('login') }}";
                {% endif %}
            }
            verificarusuario();

            limpiarCampos();

            var hoy = '{{ "now"|date('d-m-Y') }}';

            $( "#addFechaDiagnostico , #addFechaEdadGestacional , #addFechaInicioTratamiento, #addFechaFinalTratamiento, #addFechaPrueba , #addFechaCoinfeccion , #addFechaEvolucionClinica" ).datepicker({
                firstDay: 1,
                dateFormat:'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                maxDate: hoy
            });

            //js para la modal addPaciente
            $('.cancelar').on('click', function () {
                $('#addPaciente').modal('hide');
                limpiarCampos();
                //limpiar el variables
                causaFallecimiento = '0';
                pacienteEsquemas.length = 0;
                pacienteCoinfecciones.length = 0;
                pacientePruebas.length = 0;
                pacienteEvolucionesClinicas.length = 0;
                I = 0;
                J = 0;
                K = 0;
                L = 0;
            });

            //Boton localizar
            $('#btnLocalizar').on("click", function(){

                $(".preload").removeClass('hidden');

                var mat_datos = {

                    carnetIdentidad: $("#carnetIdentidad").val(),
                    nombre: $("#nombre").val(),
                    primerApellido: $("#primerApellido").val(),
                    segundoApellido: $("#segundoApellido").val(),
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("localizarPaciente") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if(data.indexOf('dataPaciente') != -1){

                        $('#containerResultado').replaceWith(data);
                        $('#containerResultado').css("display","block");
                        $('#dataPaciente').DataTable();

                    }else{
                        alertify.alert('<strong>'+ data +'</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar')
                    }
                });
            });

            $('#btnAdicionar').on('click' , function () {

                $(".preload").removeClass('hidden');

                var mat_datos = {

                    carnetIdentidad: $("#carnetIdentidad").val(),
                };
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("buscarCarnetIdentidad") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if( data != "Nuevo"){

                        $('#containerResultado').replaceWith(data);
                        $('#containerResultado').css("display","block");
                        $('#dataPaciente').DataTable();

                    }else{
                        $('#carnetCambio').replaceWith($("#carnetIdentidad").val());
                        $('#addPaciente').modal('show');
                    }
                });
            });

            //relacionar selects
            $('#addProvinciaCarnet').on('change', function () {
                var html = '';
                var provincia = $('#addProvinciaCarnet').val();
                if (provincia == '') {
                    $("#addMunicipioCarnet").prop('disabled' , true);
                    $("option").remove('.cambioMunicipioCarnet');
                }else {
                    $("option").remove('.cambioMunicipioCarnet');
                    $("#inicio").after('<option class="cambioMunicipioCarnet"></option>');

                    {% for municipio in  municipios %}
                        var idProvincia = '{{ municipio.getProvincia().id }}';

                        if (idProvincia == provincia) {
                            var id = {{ municipio.id }};
                            var name = '{{ municipio.nombre }}';
                            html += '<option class="cambioMunicipioCarnet" value="' + id + '">' + name + '</option>';

                        }
                    {% endfor %}
                    $(".cambioMunicipioCarnet").replaceWith(html);
                    $("#addMunicipioCarnet").prop('disabled' , false);
                }
            });

            $('#addProvinciaResidencia').on('change', function () {
                var html = '';
                var provincia = $('#addProvinciaResidencia').val();
                if (provincia == '') {
                    $("#addMunicipioResidencia").prop('disabled' , true);
                    $("#addUnidadAtencion").prop('disabled' , true);
                    $("option").remove('.cambioMunicipioResidencia');
                }else {
                    $("option").remove('.cambioMunicipioResidencia');
                    $("#inicio2").after('<option class="cambioMunicipioResidencia"></option>');

                    {% for municipio in  municipios %}
                        var idProvincia = '{{ municipio.getProvincia().id }}';

                        if (idProvincia == provincia) {
                            var id = {{ municipio.id }};
                            var name = '{{ municipio.nombre }}';
                            html += '<option class="cambioMunicipioResidencia" value="' + id + '">' + name + '</option>';

                        }
                    {% endfor %}
                    $(".cambioMunicipioResidencia").replaceWith(html);
                    $("#addMunicipioResidencia").prop('disabled' , false);
                    $("#addUnidadAtencion").prop('disabled' , true);
                }
            });

             ///Cargar las pruebas por etiologia
            $('#addEtiologia').on('change', function () {
                var html = '';
                var etiologia = $('#addEtiologia').val();
                if (etiologia == '') {
                    $("option").remove('.cambioPruebas');
                }else {
                    $("option").remove('.cambioPruebas');
                    $("#inicio5").after('<option class="cambioPruebas"></option>');

                    {% for prueba in  pruebas %}
                    var idEtiologia = '{{ prueba.getTipoEtiologia().id }}';
                    if (idEtiologia == etiologia || idEtiologia == 3) {
                        var id = {{ prueba.id }};
                        var name = '{{ prueba.nombre }}';
                        html += '<option class="cambioPruebas" value="' + id + '">' + name + '</option>';
                    }
                    {% endfor %}
                    $(".cambioPruebas").replaceWith(html);
                }
            });

            $('#addMunicipioResidencia').on('change', function () {
                var html = '';
                var municipio = $('#addMunicipioResidencia').val();
                if (municipio == '') {
                    $("#addUnidadAtencion").prop('disabled' , true);
                    $("option").remove('.cambioUnidadAtencion');
                }else {
                    $("option").remove('.cambioUnidadAtencion');
                    $("#inicio3").after('<option class="cambioUnidadAtencion"></option>');

                    {% for unidad in  unidades %}
                        var idMunicipio = '{{ unidad.getMunicipio().id }}';

                        if (idMunicipio == municipio) {
                            var id = {{ unidad.id }};
                            var name = '{{ unidad.nombre }}';
                            html += '<option class="cambioUnidadAtencion" value="' + id + '">' + name + '</option>';

                        }
                    {% endfor %}
                    $(".cambioUnidadAtencion").replaceWith(html);
                    $("#addUnidadAtencion").prop('disabled' , false);
                }
            });

            //relacionar selects
            $('#addPrueba').on('change', function () {
                var html = '';
                var prueba = $('#addPrueba').val();
                if (prueba == '') {
                    $("#addResultado").prop('disabled', true);
                    $("option").remove('.cambioResultado');
                } else {
                    $("option").remove('.cambioResultado');
                    $("#inicio4").after('<option class="cambioResultado"></option>');

                    {% for resultadoPrueba in  resultadosPruebas %}
                        var idPrueba = '{{ resultadoPrueba.getPrueba().id }}';

                        if (idPrueba == prueba) {
                            var id = {{ resultadoPrueba.id }};
                            var name = '{{ resultadoPrueba.resultadoPrueba }}';
                            html += '<option class="cambioResultado" value="' + id + '">' + name + '</option>';

                    }
                    {% endfor %}
                    $(".cambioResultado").replaceWith(html);
                    $("#addResultado").prop('disabled', false);
                }
                var id = '';
                var valor = 0;
                {% for prueba in pruebas %}
                id = '{{ prueba.id }}';
                if (id == prueba) {
                    {% if prueba.valor == 1 %}
                    valor = 1;
                    {% endif %}
                }
                {% endfor %}
                if (valor == 1) {
                    $('#mostrarValor').css("display", "block");
                } else {
                    $('#mostrarValor').css("display", "none");
                }
            });

            //funcion que agrega un esquema de medicamento y lo visualiza en la tabla
            var pacienteEsquemas = [];
            var I = 0;
            $('#agregarBtnEsquemaMedicamento').on('click', function(){

                var fecha =  $("#addFechaInicioTratamiento").val();
                var fechaFinal =  $("#addFechaFinalTratamiento").val();
                var idMedicamento = 0;
                var text = '';


                if( $('#addMedicamentos').val() == null ){
                    alertify.alert('<strong>Debe seleccionar medicamentos para agregar un esquema.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if(fecha == '') {
                    alertify.alert('<strong>Debe seleccionar la fecha de inicio del tratamiento.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }
                if ( dateDiff($("#addFechaInicioTratamiento").val(), $("#addFechaFinalTratamiento").val() ) > 0 ) {
                    alertify.alert('<strong>Error: la fecha final no puede ser menor que la fecha inicial.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }

                var medicamentos = $('#addMedicamentos').val();
                $('#ms-addMedicamentos .ms-list .ms-elem-selectable').each(function () {
                    if($(this).hasClass('ms-selected')){

                        text += $(this).text()+' - ';
                    }
                });

                text = text.substring(0,text.lastIndexOf('-')-1);
                $('#esquemasMedicamento tbody').append('<tr data-id="'+I+'"><td>'+ fecha +'</td><td>'+ fechaFinal +'</td><td>'+ text +'</td><td>' +
                    '<span class="glyphicon glyphicon-minus-sign borrar" style="font-size: 25px"  data-toggle="tooltip" data-placement="bottom"  title="Eliminar"></span>' +
                    '</td></tr>');
                pacienteEsquemas.push({
                    medicamentos: medicamentos,
                    fechaInicioTratamiento: fecha,
                    fechaFinalTratamiento:  fechaFinal,
                });

                $('[data-toggle="tooltip"]').tooltip();
                I++;
                $('#ms-addMedicamentos .ms-list .ms-elem-selectable').each(function(){
                    $(this).css('display', 'list-item').removeClass('ms-selected');
                });

                $('#ms-addMedicamentos .ms-list .ms-elem-selection').each(function(){
                    $(this).css('display', 'none').addClass('ms-hover').removeClass('ms-selected');
                });
                $("#addFechaInicioTratamiento").val('');
                $("#addFechaFinalTratamiento").val('');
                $('#final').addClass('hidden');
                $('.fechaFinal').addClass('opcional');
            });

            //funcion que elimina un esquema de medicamento del arreglo y de  la tabla
            $('#esquemasMedicamento tbody').on('click', '.borrar', function () {
                var row = $(this).parents('tr');
                id = row.data('id');
                row.fadeOut();
                delete pacientesEsquemas[id];
            });

            //funcion que agrega la prueba y la visualiza en la tabla de adicionar
            var pacientePruebas = [];
            var J = 0;
            $('#agregarBtnPruebas').on('click', function () {

                var prueba = $("#addPrueba").val();
                var resultado = $("#addResultado").val();
                var valor = $("#addValor").val();
                var fechaPrueba = $("#addFechaPrueba").val();

                var mostrarValor = 0;
                {% for prueba in pruebas %}
                    id = '{{ prueba.id }}';
                    if (id == prueba) {
                        {% if prueba.valor == 1 %}
                            mostrarValor = 1;
                        {% endif %}
                    }
                {% endfor %}

                if ($('#addPrueba').val() == '') {
                    alertify.alert('<strong>Debe seleccionar la prueba realizada.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                } else if ($('#addResultado').val() == '') {
                    alertify.alert('<strong>Debe seleccionar el resultado de la prueba.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                } else if (mostrarValor == 1 && $('#addValor').val() == '') {
                    alertify.alert('<strong>Debe introducir un valor para esta prueba.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                } else if ($("#addFechaPrueba").val() == '') {
                    alertify.alert('<strong>Debe seleccionar la fecha de que se realiza la prueba.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                } else {
                    {% for prueba in  pruebas %}
                        var idPrueba = '{{ prueba.id }}';

                        if (idPrueba == prueba) {
                            var nombrePrueba = '{{ prueba.nombre }}';
                        }
                    {% endfor %}

                    {% for resultadoPrueba in  resultadosPruebas %}
                        var idResultadoPrueba = '{{ resultadoPrueba.id }}';

                        if (idResultadoPrueba == resultado) {
                            var nombreResultadoPrueba = '{{ resultadoPrueba.resultadoPrueba }}';
                        }
                    {% endfor %}

                    var proteccion = '';
                    if (valor > 10) {
                        proteccion = ' protegido';
                    } else {
                        proteccion = ' no protegido';
                    }

                    $('#esquemasPrueba tbody').append('<tr data-id="' + J + '"><td>' + nombrePrueba + '</td><td>' + valor + '</td><td>' + nombreResultadoPrueba + proteccion + '</td><td>' + fechaPrueba + '</td><td>' +
                        '<span class="glyphicon glyphicon-minus-sign borrar" style="font-size: 25px"  data-toggle="tooltip" data-placement="bottom"  title="Eliminar"></span>' +
                        '</td></tr>');

                    pacientePruebas.push({
                        prueba: prueba,
                        resultado: resultado,
                        valor: valor,
                        fechaPrueba: fechaPrueba,
                    });

                    if (valor > 10) {
                        $('#addFechaAlta').prop("disabled", false);
                    }
                    $('[data-toggle="tooltip"]').tooltip();
                    J++;
                    $("#addPrueba").val('');
                    $("#addResultado").val('');
                    $('#mostrarValor').css("display", "none");
                    $("#addValor").val('');
                    $("#addFechaPrueba").val('');

                }
            });

            //funcion que elimina la prueba del arreglo y de la tabla de adicionar
            $('#esquemasPrueba tbody').on('click', '.borrar', function () {
                var row = $(this).parents('tr');
                id = row.data('id');
                row.fadeOut();
                delete pacientePruebas[id];
            });

            //funcion que agrega una coinfeccion y la visualiza en la tabla
            var pacienteCoinfecciones = [];
            var K = 0;
            $('#agregarBtnCoinfeccion').on('click', function(){

                var fecha =  $("#addFechaCoinfeccion").val();
                var nombreCoinfeccion = '';

                if(  $('#addCoinfeccion').val() == null ){
                    alertify.alert('<strong>Debe seleccionar la coinfección que desea agregar.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if(fecha == '') {
                    alertify.alert('<strong>Debe seleccionar la fecha de contagio de la coinfección.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }
                var coinfeccion = $('#addCoinfeccion').val();
                {% for coinfeccion in coinfecciones %}
                    if( coinfeccion === '{{ coinfeccion.id }}')
                    {
                        nombreCoinfeccion = '{{ coinfeccion.nombre }}';
                    }
                {% endfor %}

                $('#tablaCoinfeccionesPaciente tbody').append('<tr data-id="'+K+'"><td>'+ nombreCoinfeccion +'</td><td>'+ fecha +'</td><td>' +
                    '<span class="glyphicon glyphicon-minus-sign borrar" style="font-size: 25px"  data-toggle="tooltip" data-placement="bottom"  title="Eliminar"></span>' +
                    '</td></tr>');

                pacienteCoinfecciones.push({
                    idCoinfeccion: coinfeccion,
                    fecha: fecha,
                });

                $('[data-toggle="tooltip"]').tooltip();
                K++;
                $("#addFechaCoinfeccion").val('');
                $("#addCoinfeccion").val('');
            });

            //funcion que elimina una coinfeccion del arreglo y de  la tabla
            $('#tablaCoinfeccionesPaciente tbody').on('click', '.borrar', function () {
                var row = $(this).parents('tr');
                id = row.data('id');
                row.fadeOut();
                delete pacienteCoinfecciones[id];
            });

            //Relacionando selects evolucionClinica - causaFallecimiento
            $('#addEvolucionClinica').on('change' , function () {

                if($(this).val() == '8'){ $('#divCausaFallecimiento').removeClass('hidden'); }
                else{ $('#divCausaFallecimiento').addClass('hidden'); }
            });

            //funcion que agrega una evolucion clinica y la visualiza en la tabla
            var pacienteEvolucionesClinicas = [];
            var causaFallecimiento = '0';
            var L = 0;
            $('#agregarBtnEvolucionClinica').on('click', function(){

                var fecha =  $("#addFechaEvolucionClinica").val();
                var nombreEvolucionClinica = '';

                if(  $('#addEvolucionClinica').val() == null ){
                    alertify.alert('<strong>Debe seleccionar la evolución clínica que desea agregar.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if(fecha == '') {
                    alertify.alert('<strong>Debe seleccionar la fecha de la evolución clínica.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }
                var evolucion = $('#addEvolucionClinica').val();
                {% for evolucion in evolucionesClinicas %}
                    if( evolucion === '{{ evolucion.id }}')
                    {
                        nombreEvolucionClinica = '{{ evolucion.nombre }}';
                    }
                {% endfor %}

                $('#tablaEvolucionesClinicas tbody').append('<tr data-id="'+L+'"><td>'+ nombreEvolucionClinica +'</td><td>'+ fecha +'</td><td>' +
                    '<span class="glyphicon glyphicon-minus-sign borrar" style="font-size: 25px"  data-toggle="tooltip" data-placement="bottom"  title="Eliminar"></span>' +
                    '</td></tr>');

                pacienteEvolucionesClinicas.push({
                    idEvolucionClinica: evolucion,
                    fecha: fecha,
                });

                if( evolucion == '8' ){
                    causaFallecimiento = $('#causaFallecimiento').val();
                    $("#rowAddEvolucionClinica").addClass('hidden');
                    {% for causa in causasFallecimiento  %}
                        if( causaFallecimiento == "{{ causa.id }}")
                        {
                            $("#hCausaFallecimiento").text('Causa del Fallecimiento: {{ causa.nombre }}');
                        }
                    {% endfor %}
                    $("#rowCausaFallecimiento").removeClass('hidden');
                }

                $('[data-toggle="tooltip"]').tooltip();
                L++;
                $("#addFechaEvolucionClinica").val('');
                $("#addEvolucionClinica").val('');
                $("#causaFallecimiento").val('');
                $("#divCausaFallecimiento").addClass('hidden');
            });

            //funcion que elimina una evolucion clinica del arreglo y de  la tabla
            $('#tablaEvolucionesClinicas tbody').on('click', '.borrar', function () {
                var row = $(this).parents('tr');
                id = row.data('id');
                if(pacienteEvolucionesClinicas[id].idEvolucionClinica == '8'){

                    $("#hCausaFallecimiento").text('Causa del Fallecimiento: ');
                    $("#rowCausaFallecimiento").addClass('hidden');
                    $("#rowAddEvolucionClinica").removeClass('hidden');
                    causaFallecimiento = '0';
                }
                row.fadeOut();
                delete pacienteEvolucionesClinicas[id];
            });

            //enviar el formulario--------------
            $('#btnGuardarPaciente').click(function () {

                $(".preload").removeClass('hidden');

                $('#addPaciente').modal('hide');

                var gestante = 0;
                if ($('#addGestante').prop('checked')) {
                    gestante = 1;
                }
                var transfusion = 0;
                if ($('#addTransfusion').prop('checked')) {
                    transfusion = 1;
                }
                var orientacionesSexuales = [];
                $('.orientacionSexual').map(function() {

                    if(this.checked){
                        orientacionesSexuales.push(this.id);
                    }
                });


                var mat_datos = {
                    carnetIdentidad: $('#carnetIdentidad').val(),
                    nombre: $("#addNombre").val(),
                    primerApellido: $("#addPrimerApellido").val(),
                    segundoApellido: $("#addSegundoApellido").val(),
                    edad: $("#addEdad").val(),
                    sexo: $("#addSexo").val(),
                    colorPiel: $("#addColorPiel").val(),
                    estadoCivil: $("#addEstadoCivil").val(),
                    nivelEscolaridad: $("#addNivelEscolaridad").val(),
                    ocupacion: $("#addOcupacion").val(),
                    gestante: gestante,
                    fechaEdadGestacional: $("#addFechaEdadGestacional").val(),
                    semanaGestacional: $("#addSemanasGestacional").val(),
                    diasGestacional: $("#addDiasGestacional").val(),
                    direccionCarnet: $("#addDireccionCarnet").val(),
                    municipioCarnet: $("#addMunicipioCarnet").val(),
                    direccionResidencia: $("#addDireccionResidencia").val(),
                    municipioResidencia: $("#addMunicipioResidencia").val(),
                    unidadAtencion: $("#addUnidadAtencion").val(),
                    fechaDiagnostico: $("#addFechaDiagnostico").val(),
                    etiologia: $("#addEtiologia").val(),
                    tipoHepatitis: $("#addTipoHepatitis").val(),
                    estadioHepatitis: $("#addEstadioHepatitis").val(),
                    formaInfeccion: $("#addFormaInfeccion").val(),
                    grupoVulnerable: $("#addGrupoVulnerable").val(),
                    fuentePesquisa: $("#addFuentePesquisa").val(),
                    motivoFuentePesquisa: $("#addMotivoFuentePesquisa").val(),
                    transfusion: transfusion,
                    antecedentesPatologicos: $("#addAntecedentesPatologicos").val(),
                    orientacionesSexuales: orientacionesSexuales,
                    coinfecciones: pacienteCoinfecciones,
                    pacientePruebas: pacientePruebas,
                    pacienteEsquemasMedicamentos: pacienteEsquemas,
                    evolucionesClinicas: pacienteEvolucionesClinicas,
                    idCausaFallecimiento: causaFallecimiento,
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("insertPaciente") }}',
                    data: mat_datos
                }).done(function (data) {
                    $(".preload").addClass('hidden');
                    if(data.indexOf('dataPaciente') != -1){

                        $('#addPaciente').modal('hide');
                        limpiarCampos();
                        $('#containerResultado').replaceWith(data);
                        $('#containerResultado').css("display","block");
                        $('#dataPaciente').DataTable();
                        //limpiar el variables
                        causaFallecimiento = '0';
                        pacienteEsquemas.length = 0;
                        pacienteCoinfecciones.length = 0;
                        pacientePruebas.length = 0;
                        pacienteEvolucionesClinicas.length = 0;
                        I = 0;
                        J = 0;
                        K = 0;
                        L = 0;

                    }else{
                        alertify.alert('<strong>'+ data +'</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar')
                    }
                });
            });

        });
    </script>
{% endblock %}